@model IEnumerable<ReDoc.PropertyAgreementModel>
@{
    ViewBag.Title = "ניהול מסמכי תיווך";
}
<h2>הורדות</h2>
<ul>
    <li>
        <h3>
            <a href="http://build.phonegap.com/apps/259810/download/ios">iPad</a>
        </h3>
    </li>
    <li>
        <h3>
            <a href="http://build.phonegap.com/apps/259810/download/android">Android</a>
        </h3>
    </li>
</ul>
<h2>הסכמי הצגת נכסים</h2>
<ul>
    @foreach (var propertyAgreement in Model)
    {
        <li>
            <a href="@propertyAgreement.Url" target="_blank">@propertyAgreement.Name</a>
            <br/>
            <b>@propertyAgreement.Date</b>
        </li>
    }
</ul>